<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
  <input type="text" name="name" id="name" placeholder="Name">
  <br></br>
  <input type="text" name="email" id="email" placeholder="Email">
  <br></br>
  <input type="text" name="password" id="password" placeholder="Password">
  <br>
  <input type="submit" value="Sign Up">
</form>
